- # encoding: UTF-8

%aside{:role => "complementary"}
  .col3
    .about-menu-block
      %h5 Полезная информация
      %ul
        %li
          %a{:href => "#"} Что такое лизинг
        %li
          %a{:href => "#"} Почему лизинг выгоден для юридических лиц
        %li
          %a{:href => "#"} На что стоит обращать внимание при заклчении договора лизинга
        %li
          %a{:href => "#"} Список документов для заключения договора лизинга
        %li
          %a{:href => "#"} Почему лизинг выгоден для юридических лиц
        %li
          %a{:href => "#"} На что стоит обращать внимание при заклчении договора лизинга
