- # encoding: UTF-8
- pathProject = "/Users/yegoshin/Google Диск/project/StoneLease/Site/PageProofs/haml/partials/"
.bg-mainmenu-ears
%nav{:class => "mainmenu", :role => "navigation"}
  %ul{:role => "menubar"}
    %li
      %a{:href => "#", :role => "menuitem"} О компании
    %li
      %a{:href => "#", :role => "menuitem"} Оперативный лизинг
    %li
      %a{:href => "#", :role => "menuitem"} Финансовый лизинг
    %li
      %a{:href => "#", :role => "menuitem"} Спецпредложения
    %li
      %a{:href => "#", :role => "menuitem"} Блог
    %li
      %a{:href => "#", :role => "menuitem"} Контакты
