- # encoding: UTF-8
- pathProject = "/Users/yegoshin/Google Диск/project/StoneLease/Site/PageProofs/haml/partials/"

.article-block
  .col9
    .article
      %h1 Название статьи
      %p.date 11.11.2014
      .article-content
        %img{:src => "http://placekitten.com/g/700/165", :alt => "Новость", :width => "700", :height => "165"}
        %p
          Компания Renault с 19 февраля 2015 года снизит российские цены на кроссовер Renault Duster. Автомобиль
          подешевеет на 3%. Об этом со ссылкой на дилеров французской марки и представителей «РеноРоссия» сообщают
          «Ведомости».
        %p
          Финансовый лизинг - операция по специальному приобретению имущества в собственность и последующей сдачей его
          во временное владение и пользование на срок, приближающийся по продолжительности к сроку эксплуатации и
          амортизации всей стоимости имущества. В течение срока договора лизингодатель за счет лизинговых платежей
          возвращает себе всю стоимость имущества и получает прибыль от финансовой сделки. Фактически финансовый лизинг
          представляет собой форму долгосрочного кредитования. Финансовый лизинг характеризуется трехсторонним
          характером взаимоотношений.
        %p
          Компания Renault с 19 февраля 2015 года снизит российские цены на кроссовер Renault Duster. Автомобиль
          подешевеет на 3%. Об этом со ссылкой на дилеров французской марки и представителей «РеноРоссия» сообщают
          «Ведомости».
        %cite
          Москва. 18 февраля. INTERFAX.RU — Апартаменты в Москве могут получить статус жилых помещений, сообщил журналистам
          заместитель мэра Москвы по градостроительной политике и строительству Марат Хуснуллин в среду.
        %p
          Финансовый лизинг - операция по специальному приобретению имущества в собственность и последующей сдачей его
          во временное владение и пользование на срок, приближающийся по продолжительности к сроку эксплуатации и
          амортизации всей стоимости имущества. В течение срока договора лизингодатель за счет лизинговых платежей
          возвращает себе всю стоимость имущества и получает прибыль от финансовой сделки. Фактически финансовый лизинг
          представляет собой форму долгосрочного кредитования. Финансовый лизинг характеризуется трехсторонним
          характером взаимоотношений.
      .btn-block
        .btn-prev
          %a{:href => "#", :class => "button-red"} Предыдущая
        .btn-list
          %a{:href => "#"} К списку новостей
        .btn-next
          %a{:href => "#", :class => "button-white"} Следующая
  =Haml::Engine.new(IO.read("#{pathProject}_aside-menu2.haml")).render