- # encoding: UTF-8
- pathProject = "/Users/yegoshin/Google Диск/project/StoneLease/Site/PageProofs/haml/partials/"

.deals-block
  .col9
    .deals
      %h1 Спецпредложения в марте
      .article-content
        %img{:src => "/images/dials/spec.png", :alt => "Спецпредложения в марте", :width => "700", :height => "165"}
        %p
          «Предложения по внесению соответствующих поправок в федеральное законодательство представили московские власти
          по согласованию с Минстроем России. Разрешения на строительство апартаментов, как правило, выдавались по
          нескольким причинам. Во-первых, на площадки, где невозможно технически строить жилье, а где-то инвесторы
          заявлялись на стройку доходных жилых площадей для сдачи в аренду», — пояснил Хуснуллин.
        %p
          По его словам, приравнивание апартаментов к жилью позволит получить более прозрачный механизм реализации таких
          объектов.
        %p
          Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет оценить
          значение форм развития. С другой стороны дальнейшее развитие различных форм деятельности представляет собой
          интересный эксперимент проверки новых предложений. Идейные соображения высшего порядка, а также постоянное
          информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов)
          участие в формировании систем массового участия. Таким образом сложившаяся структура организации обеспечивает
          широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.
        %p
          Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности представляет собой
          интересный эксперимент проверки существенных финансовых и административных условий. Значимость этих проблем
          настолько очевидна, что сложившаяся структура организации в значительной степени обуславливает создание систем
          массового участия.
      .leasing-bottom-block
        %h3 Связаться с нами
        .callme-block
          %form{:role => "form"}
            .section-input
              .form-group
                %label{:for => "name"} Ваше имя <span>*</span>
                %input{:id => "name", :name => "name", :type => "text", :required => true}
                %label{:for => "telephone"} Телефон <span>*</span>
                %input{:id => "telephone", :name => "telephone", :type => "text", :required => true}
                %label{:for => "email"} E-mail
                %input{:id => "email", :name => "email", :type => "text"}
              .form-group
                %label{:for => "message"} Сообщение
                %textarea{:id => "message", :name => "message", :rows => 10}
            .section-submit
              %a{:href => "#",  :data => {:toggle => "modal", :target => "#confirmModal"}}
                %button{:href => "submit", :class => "button-red"} Отправить
              .requre-field-message
                Поля, отмеченные <span>*</span>, обязательны для заполнения
  =Haml::Engine.new(IO.read("#{pathProject}_aside-menu3.haml")).render