- # encoding: UTF-8
- pathProject = "/Users/yegoshin/Google Диск/project/StoneLease/Site/PageProofs/haml/partials/"

.leasing-car-block
  .leasing-bottom-block
    .col9
      %h1 Лизинг автомобилей
      .description-block
        %h5 Услуги
        %p
          Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в
          страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый,
          выпуклый, разделенный дугообразными чешуйками живот.
        %p
          На верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.  Его многочисленные, убого
          тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной
          случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная
          комната, мирно покоилась в своих четырех хорошо знакомых стенах.
        %h5 Условия
        %p
          Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в
          страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый,
          выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот
          окончательно сползти одеяло.  Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно
          копошились у него перед глазами. «Что со мной случилось? » – подумал он. Это не было сном. Его комната,
          настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых
          стенах.
        %h5 Необходимые документы
        %p
          Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в
          страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый,
          выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот
          окончательно сползти одеяло.
      .light-block
        %h4 Схема работы
        .img-line
          .img-form
          %p <b>Заполните</b> любую из <b>форм</b> на сайте
        .img-line
          .img-call
          %p Наш <b>менеджер перезвонит</b> Вам и уточнит детали
        .img-line
          .img-comm
          %pПолучите <b>коммерческое предложение</b> от Stonelease
        .img-line
          .img-doc
          %p Предоставьте нам необходимые <b>документы</b>
        .img-line
          .img-dog
          %p После принятия положительного решения заключаем <b>договор лизинга</b>
        .img-line
          .img-date
          %p По желанию, личный менеджер будет напоминать о <b>датах платежей</b>
      %h3 Связаться с нами
      .callme-block
        %form{:role => "form"}
          .section-input
            .form-group
              %label{:for => "name"} Ваше имя <span>*</span>
              %input{:id => "name", :name => "name", :type => "text", :required => true}
              %label{:for => "telephone"} Телефон <span>*</span>
              %input{:id => "telephone", :name => "telephone", :type => "text", :required => true}
              %label{:for => "email"} E-mail
              %input{:id => "email", :name => "email", :type => "text"}
            .form-group
              %label{:for => "message"} Сообщение
              %textarea{:id => "message", :name => "message", :rows => 10}
          .section-submit
            %a{:href => "#",  :data => {:toggle => "modal", :target => "#confirmModal"}}
              %button{:href => "submit", :class => "button-red"} Отправить
            .requre-field-message
              Поля, отмеченные <span>*</span>, обязательны для заполнения
    =Haml::Engine.new(IO.read("#{pathProject}_aside-menu.haml")).render