- # encoding: UTF-8
- pathProject = "/Users/yegoshin/Google Диск/project/StoneLease/Site/PageProofs/haml/partials/"

%h1 Услуги оперативного лизинга
.leasing-operational-block
  .packages-block
    .col4
      .package
        .package-header
          Пакет стандарт
        %ul
          %li
            Проснувшись однажды утром после беспокойного сна
          %li
            Грегор Замза обнаружил, что он у себя в постели превратился
          %li
            Пункт, описание
          %li
            Пункт 2 и снова заголовок
      %a{:href => "#", :class => "button-red"} Выбрать пакет
    .col4
      .package
        .package-header
          Пакет стандарт+
        %ul
          %li
            Проснувшись однажды утром после беспокойного сна
          %li
            Грегор Замза обнаружил, что он у себя в постели превратился
          %li
            Пункт, описание
          %li
            Пункт 2 и снова заголовок
          %li
            Проснувшись однажды утром после беспокойного сна
      %a{:href => "#", :class => "button-red"} Выбрать пакет
    .col4
      .package
        .package-header-vip
          Пакет VIP
        %ul
          %li
            Проснувшись однажды утром после беспокойного сна
          %li
            Грегор Замза обнаружил, что он у себя в постели превратился
          %li
            Пункт, описание
          %li
            Пункт 2 и снова заголовок
          %li
            Проснувшись однажды утром после беспокойного сна
          %li
            Грегор Замза обнаружил, что он у себя в постели превратился
      %a{:href => "#", :class => "button-red"} Выбрать пакет
  .redline
  .leasing-bottom-block
    .col9
      %a{:href => "#", :class => "button-red-long"} Заявка на индивуальный расчет стоимости
      .light-block
        %h4 Схема работы
        .img-line
          .img-form
          %p <b>Заполните</b> любую из <b>форм</b> на сайте
        .img-line
          .img-call
          %p Наш <b>менеджер перезвонит</b> Вам и уточнит детали
        .img-line
          .img-comm
          %pПолучите <b>коммерческое предложение</b> от Stonelease
        .img-line
          .img-doc
          %p Предоставьте нам необходимые <b>документы</b>
        .img-line
          .img-dog
          %p После принятия положительного решения заключаем <b>договор лизинга</b>
        .img-line
          .img-date
          %p По желанию, личный менеджер будет напоминать о <b>датах платежей</b>
      %h3 Связаться с нами
      .callme-block
        %form{:role => "form"}
          .section-input
            .form-group
              %label{:for => "name"} Ваше имя <span>*</span>
              %input{:id => "name", :name => "name", :type => "text", :required => true}
              %label{:for => "telephone"} Телефон <span>*</span>
              %input{:id => "telephone", :name => "telephone", :type => "text", :required => true}
              %label{:for => "email"} E-mail
              %input{:id => "email", :name => "email", :type => "text"}
            .form-group
              %label{:for => "message"} Сообщение
              %textarea{:id => "message", :name => "message", :rows => 10}
          .section-submit
            %a{:href => "#",  :data => {:toggle => "modal", :target => "#confirmModal"}}
              %button{:href => "submit", :class => "button-red"} Отправить
            .requre-field-message
              Поля, отмеченные <span>*</span>, обязательны для заполнения
    =Haml::Engine.new(IO.read("#{pathProject}_aside-menu.haml")).render