- # encoding: UTF-8
- pathProject = "/Users/yegoshin/Google Диск/project/StoneLease/Site/PageProofs/haml/partials/"

%h1 Заявка на лизинг
.lesing-app-block
  %form{:role => "form"}
    .section-input
      .form-group
        %label{:for => "name"} Ваше имя <span>*</span>
        %input{:id => "name", :name => "name", :type => "text", :required => true}
        %label{:for => "telephone"} Телефон <span>*</span>
        %input{:id => "telephone", :name => "telephone", :type => "text", :required => true}
        %label{:for => "email"} E-mail
        %input{:id => "email", :name => "email", :type => "text"}
      .form-group
        %label{:for => "message"} Сообщение
        %textarea{:id => "message", :name => "message", :rows => 10}
    .section-submit
      %a{:href => "#",  :data => {:toggle => "modal", :target => "#confirmModal"}}
        %button{:href => "submit", :class => "button-red"} Отправить заявку
      .requre-field-message
        Поля, отмеченные <span>*</span>, обязательны для заполнения