- # encoding: UTF-8
- pathProject = "/Users/yegoshin/Google Диск/project/StoneLease/Site/PageProofs/haml/partials/"

%h1 В Москве решили приравнять апартаменты к жилью
.news-block
  .col9
    .news
      .news-content
        %cite
          Москва. 18 февраля. INTERFAX.RU — Апартаменты в Москве могут получить статус жилых помещений, сообщил журналистам
          заместитель мэра Москвы по градостроительной политике и строительству Марат Хуснуллин в среду.
        %img{:src => "http://placekitten.com/g/215/180", :alt => "Новость", :width => "215", :height => "180"}
        %p
          «Предложения по внесению соответствующих поправок в федеральное законодательство представили московские власти
          по согласованию с Минстроем России. Разрешения на строительство апартаментов, как правило, выдавались по
          нескольким причинам. Во-первых, на площадки, где невозможно технически строить жилье, а где-то инвесторы
          заявлялись на стройку доходных жилых площадей для сдачи в аренду», — пояснил Хуснуллин.
        %p
          По его словам, приравнивание апартаментов к жилью позволит получить более прозрачный механизм реализации таких
          объектов. Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет
          оценить значение форм развития. С другой стороны дальнейшее развитие различных форм деятельности представляет
          собой интересный эксперимент проверки новых предложений. Идейные соображения высшего порядка, а также постоянное
          информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие
          в формировании систем массового участия. Таким образом сложившаяся структура организации обеспечивает широкому
          кругу (специалистов) участие в формировании существенных финансовых и административных условий.
        %p
          Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности представляет собой
          интересный эксперимент проверки существенных финансовых и административных условий. Значимость этих проблем
          настолько очевидна, что сложившаяся структура организации в значительной степени обуславливает создание систем
          массового участия.
      .btn-block
        .btn-prev
          %a{:href => "#", :class => "button-red"} Предыдущая
        .btn-list
          %a{:href => "#"} К списку новостей
        .btn-next
          %a{:href => "#", :class => "button-white"} Следующая
  =Haml::Engine.new(IO.read("#{pathProject}_aside.haml")).render