- # encoding: UTF-8
- pathProject = "/Users/yegoshin/Google Диск/project/StoneLease/Site/PageProofs/haml/partials/"

%h1 Карта сайта
.sitemap-block
  .col4
    %ul.list2
      %li
        %a{:href => "#"} Главная
      %li
        %a{:href => "#"} О компании
      %li
        %a{:href => "#"} Оперативный лизинг
      %li
        %a{:href => "#"} Финансовый лизинг
      %li
        %a{:href => "#"} Спецпредложения
  .col4
    %ul.list2
      %li
        %a{:href => "#"} Лизинг автомобилей
      %li
        %a{:href => "#"} Лизинг спецтехники
      %li
        %a{:href => "#"} Лизинг оборудования
      %li
        %a{:href => "#"} Блог
      %li
        %a{:href => "#"} Контактная информация
  .col4
    %ul.list2
      %li
        %a{:href => "#"} Новости
      %li
        %a{:href => "#"} Заявка на лизинг