- # encoding: UTF-8
- pathProject = "/Users/yegoshin/Google Диск/project/StoneLease/Site/PageProofs/haml/partials/"
%h1 Типографика
%p Заголовки
%h1 H1. Заголовок 1-го уровня
%h2 H2. Заголовок 2-го уровня
%h3 H3. Заголовок 3-го уровня
%h4 H4. Заголовок 4-го уровня
%p <br>
%p Списки
.typo-container
  .typo-col
    %ul
      %li Базовые и продвинутые курсы для автомехаников
      %li Курсы обучения мастеров-электриков
      %li Курсы обучения мастеров-диагностов
      %li Технологии кузовного ремонта (BODY REPAIR)
  .typo-col
    %ul.list2
      %li <span>Лизинг автомобилей</span>
      %li <span>Лизинг спецтехники</span>
      %li <span>Лизинг оборудования</span>
      %li <span>Блог</span>
      %li <span>Контактная информация</span>
%p <br><br>
%p Кнопки
%p <br>
.typo-container
  .typo-col
    %button{:type => "submit", :class => "button-red"} Отправить
    =Haml::Engine.new(IO.read("#{pathProject}modules/_button-curtain-black.haml")).render(Object.new,
    :image => "http://placekitten.com/g/380/180", :width => "220px", :height => "90px", :h6Text => "Кнопка 1",
    :divText => "5 лет на рынке, большойсписок довольных клиентов и надежных партнеров")
  .typo-col
    %button{:type => "submit", :class => "button-white"} Отправить
    =Haml::Engine.new(IO.read("#{pathProject}modules/_button-curtain-red.haml")).render(Object.new,
    :image => "http://placekitten.com/g/380/180", :width => "220px", :height => "90px", :h6Text => "Кнопка 2",
    :divText => "Отсутствие скрытых платежей")
%p <br><br>
%p Основной текст
%p <br>
%p<
  Шрифт - Pt sans, 14px
%p<
  Наш дом традиционно считается местом, где нам предоставляется возможность передохнуть от ежедневной суеты рабочих
  будней и нейтрализовать стрессы городской жизни. Все чаще жители больших городов и, особенно, мегаполисов
  предпочитают «променять» извечное напряжение шумных загазованных улиц на удовольствие от общения с природой.
  Согласитесь, мало что может сравниться по степени удовольствия с неспешными прогулками по собственному дачному
  участку, где крупномерные деревья, фонтан и сад как будто воплотились из детской мечты, благоухая ароматами цветов,
  утопая в зелени и радуя слух пением различных птиц.
%p<
  1234567890
%p <br><br>
%p
  Формы
%input{:name => "typo", :type => "text"}