- # encoding: UTF-8

%aside{:role => "complementary", :class => "aside-menu"}
  %h3 Преимущества работы<br>со Stonelease
  %ul
    %li
      %a{:href => "#"} Высокий рейтинг<br> кредитоспособности<br> лизинговой компании
    %li
      %a{:href => "#"} Аванс от 50%
    %li
      %a{:href => "#"} Удорожание от 70%
    %li
      %a{:href => "#"} Срок от 3 месяцев
    %li
      %a{:href => "#"} Минимальный пакет<br> документов, помощь<br> в оформлении
    %li
      %a{:href => "#"} Оперативная работа<br> менеджеров, быстрый<br> ответ по заявке
    %li
      %a{:href => "#"} Отсутствие скрытых<br> платежей
    %li
      %a{:href => "#"} 5 лет на рынке, большой<br> список довольных клиентов<br> и надежных партнеров