- # encoding: UTF-8

%aside{:role => "complementary", :class => "aside-menu3"}
  %h3 Услуги <br>финансового лизинга
  %ul
    %li
      %a{:href => "#", :class => "auto"}
        %div
          Лизинг автомобилей
    %li
      %a{:href => "#", :class => "tech"}
        %div
          Лизинг спецтехники
    %li
      %a{:href => "#", :class => "obor"}
        %div
          Лизинг оборудования