- # encoding: UTF-8

%aside{:role => "complementary", :class => "aside-menu"}
  %h3 Спецпредложения
  %ul
    %li
      %a{:href => "#"} Высокий рейтинг кредитоспособности лизинговой компании
    %li
      %a{:href => "#"} Аванс от 50%
    %li
      %a{:href => "#"} Удорожание от 70%
    %li
      %a{:href => "#"} Срок от 3 месяцев