- # encoding: UTF-8
.bg-footer-ears
%footer{:role => "contentinfo"}
  %ul{:class =>"f-col1", :role => "menubar"}
    %li
      %a{:href => "#", :role => "menuitem"} О компании
    %li
      %a{:href => "#", :role => "menuitem"} Новости
  %ul{:class =>"f-col2", :role => "menubar"}
    %li
      %a{:href => "#", :role => "menuitem"} Оперативный лизинг
    %li
      %a{:href => "#", :role => "menuitem"} Финансовый лизинг
  %ul{:class =>"f-col3", :role => "menubar"}
    %li
      %a{:href => "#", :role => "menuitem"} Лизинг автомобилей
    %li
      %a{:href => "#", :role => "menuitem"} Лизинг спецтехники
    %li
      %a{:href => "#", :role => "menuitem"} Лизинг оборудования
  %ul{:class =>"f-col4", :role => "menubar"}
    %li
      %a{:href => "#", :role => "menuitem"} Спецпредложения
    %li
      %a{:href => "#", :role => "menuitem"} Блог
    %li
      %a{:href => "#", :role => "menuitem"} Контакты
  %ul{:class =>"f-col5", :role => "menubar"}
    %li
      %a{:href => "#", :role => "menuitem"} Заявка на лизинг