- # encoding: UTF-8
- pathProject = "/Users/yegoshin/Google Диск/project/StoneLease/Site/PageProofs/haml/partials/"
.bg-header-ears
%header{:role => "banner"}
  .bg-header-ears-picture
  .inner-header
    .logotype
      %a{:href => "/"}
        %img{:src => "/img/logotype.png", :alt => "Stone Lease"}/
    .address
      г. Москва, на  Варшавсое шоссе 41<br>
      График работы: с 9.00 - 21.00<br>
      <span>e-mail:</span>
      %a{:href => "mailto:info@stonelease.ru"}info@stonelease.ru
    .header-block1
      %div
        <span>+7 (495)</span> 981-19-98
      %a{:href => "#", :data => {:toggle => "modal", :target => "#writemeModal"}} Задать вопрос
    .header-block2
      %div
        <span>+7 (916)</span> 581-98-71
      %a{:href => "#"} Заявка на лизинг