- # encoding: UTF-8
-###############################################################################
-# Компонент модальные окна
-#    Файл SCSS: sass/partials/modules/_modal.scss
-#    Файлы JS:  js/modules/jquery.arcticmodal.js
-#               js/modules/modal.js
-###############################################################################
-#
-# Код для подключения компонента в исходном файле .haml:
-#
-# =Haml::Engine.new(IO.read("#{pathProject}modules/_modal-writeme.haml")).render
-#
-###############################################################################
-#
-# Аттрибуты html компонента "Модальные окна":
-#
-# data-tooggle="modal" - обозначениме того, что это та ссылка, при клике на
-# которую открывается модальное окно с идентификатором #myModal.
-#
-# data-target="#myMidal" -  аттрибут с идентификатором модального окна #myModal
-# в ссылке, при клике на которую открывается модальное окно, указывающий какое
-# именно модальное окно будет открываться.
-#
-# class="arcticmodal-close" - обозначениме того, что это та ссылка, при клике на
-# которую закрывается текущее модальное окно.
-#
-###############################################################################
.g-hidden
  .box-modal#confirmModal
    %a{:href => "#", :class => "box-modal_close arcticmodal-close"}
    %h3 Ваша заявка принята.
    %h4 В близжайшее время мы свяжемся с Вами.