- # encoding: UTF-8
-###############################################################################
-# Компонент кнопка с эффектом шторки
-# 		Файл SCSS: sass/partials/modules/_button-curtain.scss
-# 		Файл JS: js/modules/button-curtain.js
-###############################################################################
-# 
-# Код для подключения компонента в исходном файле .haml:
-#
-# =Haml::Engine.new(IO.read("#{pathProject}modules/button-curtain.haml")).render(Object.new, :image => "http://placekitten.com/g/380/180", :width => "190px", :height => "90px", :h6Text => "Туризм", :divText => "В альбом вошли песни на русском, французском и английском языках.")
-#
-###############################################################################
- image = image
- width = width
- height = height
- h6Text = h6Text
- divText = divText

%a{:href => "#", :class => "button1", :data => {:image => "#{image}", :width => "#{width}", :height => "#{height}"}}
  %div
    %h6=h6Text
    %div=divText