// ====================================================================
// Layout mainmenu
// ====================================================================
.mainmenu {
  position: relative;
  @include container;
  @include selector-rhythm(height, $mainmenu-height);
  @include selector-rhythm(padding-top, 9px);
  background: $mainmenu-background;
  text-transform: uppercase;
  ul {
    @include span(12);
    @include inline-block-list(26px);
    @include no-bullet;
    margin: 0;
    padding: 0;
    a {
      color: $color1;
      @include hover-link;
    }
  }
}