// ====================================================================
// Базовые свойства
// ====================================================================
$box-model: border-box;
$border-radius: 5px; //Радиус всех закруглений в сайте по умолчанию
$base-font-family: 'PT Sans', sans-serif;
$site-full-width: 2000px; // Ширина сайта с ушами
$container-width: 1000px; // Ширина содержимого сайта (контейнера) по умолчанию
$container-padding-left: 20px;
$container-padding-right: 20px;
$columns-number: 12; // Количество колонок в сетке сайта
$gutters-width: 0; // Ширина между колонками сетки сайта. Default .25

// ====================================================================
// Типовые цвета макета
// ====================================================================
$color1: #ffffff;
$color2: #101010;
$color3: #dc0c41;
$color4: #525252;
$color5: #ecedef;
$color6: #a1a1a1;
$color7: #282828;
$color8: #efefef;
$color9: #d7d7d7;

$base-bg-color: $color1;
$base-font-color: $color2;

// ====================================================================
// Параметры header
// ====================================================================
$header-height: 100px; // Высота шапки сайта
$header-background: $color5; // Default none
$header-color: $color7; // Default none
$bg-header-ears: none $color5; // Фоновое изображение шапки сайта

// ====================================================================
// Параметры mainmenu
// ====================================================================
$mainmenu-height: 40px; // Высота шапки сайта
$mainmenu-background: $color3; // Default none
$bg-mainmenu-ears: none $color3; // Фоновое изображение главного меню сайта

// ====================================================================
// Параметры ушей mainpage
// ====================================================================
$mainpage-height: 1050px;
$mainpage-left-width: 772px;
$mainpage-top: 0;
$bg-mainpage-left-ears: url("../img/bg-main-ears-left.png") no-repeat transparent;
$mainpage-right-width: 835px;
$bg-mainpage-right-ears: url("../img/bg-main-ears-right.png") no-repeat transparent;
$mainpage-top-cross: 630px;
$bg-mainpage-ears: url("../img/bg-main-cross.jpg") repeat transparent;
$mainpage-height-cross: 430px;


// ====================================================================
// Параметры breadcrumbs
// ====================================================================
$breadcrumbs-height: 60px; // Высота шапки сайта
$breadcrumbs-color: $color4; // Базовый цвет шрифта в хлебных крошках

// ====================================================================
// Параметры footer
// ====================================================================
$footer-height: 115px; // Высота подвала сайта
$footer-background: $color3; // Default none
$bg-footer-ears: none $color3; // Фоновое изображение подвала сайта

// ====================================================================
// Параметры postfooter
// ====================================================================
$postfooter-height: 45px; // Высота нижней части подвала сайта
$postfooter-background: $color5; // Default none
$bg-postfooter-ears: none $color5; // Фоновое изображение ниженей части подвала сайта

// ====================================================================
// Свойства фоновых изображений и ушей сайта
// ====================================================================
$ears-height: auto; // Высота ушей элементов сайта (как правило на главной странице)
$bg-ears: url("../img/") #fff; // Фоновое изображение ушей элементов сайта (как правило на главной странице)

// ====================================================================
// Свойства модальных окон
// ====================================================================
$modal-width: 730px; // Ширина модального окна
$modal-height-writeme: 290px; // Высота модального окна
$modal-height-confirm: 220px; // Высота модального окна
$modal-background: $color8;
$modal-close-color: $color6;

// ====================================================================
// Настройки вертикального ритма (Vertical Rhythm)
// ====================================================================
$base-font-size: 16px;
$base-line-height-scale: 1.5; //default 1.5

// ====================================================================
// Типовые цвета шрифтов
// ====================================================================
$font-color-a: $color3;

// ====================================================================
// Типовые размеры шрифтов
// ====================================================================
$font-size-normal: 0.875rem;  // 14px
$font-size-h1: 1.5rem; //24px
$font-size-h2: 1.3125rem; //21px
$font-size-h3: 1.3125rem; //21px
$font-size-h4: 1.125rem; // 18px
$font-size-h6: 1.3125rem; //21px
$font-small: 0.8125rem; //13px
$font-large: 1.0625rem; //17px

// ====================================================================
// Типовые толщины шрифтов
// ====================================================================
$font-weight-h1: bold;
$font-weight-h2: bold;
$font-weight-h3: normal;
$font-weight-h4: normal;
$font-weight-h5: bold;
$font-weight-h6: bold;

// ====================================================================
// Настройки всех layouts
// ====================================================================

$susy: (
        container: $container-width - $container-padding-left - $container-padding-right,
        columns: $columns-number,
        gutters: $gutters-width,
        gutter-position: inside,
        output: float
);