- # encoding: UTF-8
- pathProject = "/Users/yegoshin/Google Диск/project/StoneLease/Site/PageProofs/haml/partials/"

%h1 О компании
.about-block
  .col9
    .company-today
      %h5 Компания сегодня
      %p
        Равным образом реализация намеченных плановых заданий представляет собой интересный эксперимент проверки систем
        массового участия. Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому
        кругу (специалистов) участие в формировании дальнейших направлений развития. Значимость этих проблем настолько
        очевидна, что рамки и место обучения кадров представляет собой интересный эксперимент проверки форм развития.
        Товарищи! рамки и место обучения кадров в значительной степени обуславливает создание существенных финансовых и
        административных условий.
      %p
        Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет оценить
        значение форм развития. С другой стороны дальнейшее развитие различных форм деятельности
    .list-block
      %ul
        %li
          .left-list-block
            %img{:src => "http://placekitten.com/g/215/230", :alt => "Service", :width => "215", :height => "230"}
          .right-list-block
            %h5 История
            %p
              Равным образом реализация намеченных плановых заданий представляет собой интересный эксперимент проверки
              систем массового участия. Повседневная практика показывает, что сложившаяся структура организации
              обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
              Значимость этих проблем настолько очевидна, что рамки и место обучения кадров представляет собой
              интересный эксперимент проверки форм развития. Товарищи! рамки и место обучения кадров в значительной
              степени обуславливает создание существенных финансовых и административных условий.
        %li
          %h5 Стратегия, миссия, ценности
          %p
            Равным образом реализация намеченных плановых заданий представляет собой интересный эксперимент проверки
            систем массового участия. Повседневная практика показывает, что сложившаяся структура организации
            обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
            Значимость этих проблем настолько очевидна, что рамки и место обучения кадров представляет собой
            интересный эксперимент проверки форм
        %li
          %h5 Руководство
          %p
            Равным образом реализация намеченных плановых заданий представляет собой интересный эксперимент проверки
            систем массового участия. Повседневная практика показывает, что сложившаяся структура организации
            обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
            Значимость этих проблем настолько очевидна, что рамки и место обучения кадров представляет собой
            интересный эксперимент проверки форм развития. Товарищи! рамки и место обучения кадров в значительной
            степени обуславливает создание существенных финансовых и административных условий.
          %p
            Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет оценить
            значение форм развития. С другой стороны дальнейшее развитие различных форм деятельности представляет
            собой интересный эксперимент проверки новых предложений. Идейные соображения высшего порядка, а также
            постоянное
    %ul.news-block
      %h3 Последние новости
      %li.main-news
        %img{:src => "http://placekitten.com/g/95/95", :alt => "Название новости"}
        .news-text
          %p.news-date
            13.11.2014
          %p.news-title
            Равным образом укрепление и развитие структуры представляет
          %p
            Идейные соображения высшего порядка, а также постоянный.
          %p
            %a{:href => "#"}Читать далее
      %li.main-news
        %img{:src => "http://placekitten.com/g/95/95", :alt => "Название новости"}
        .news-text
          %p.news-date
            13.11.2014
          %p.news-title
            Равным образом укрепление и развитие структуры представляет
          %p
            Идейные соображения высшего порядка, а также постоянный количественный рост и сфера.
          %p
            %a{:href => "#"}Читать далее
    %a{:href => "#", :class => "button-red"} Читать все новости
  =Haml::Engine.new(IO.read("#{pathProject}_aside.haml")).render