- # encoding: UTF-8
- pathProject = "/Users/yegoshin/Google Диск/project/StoneLease/Site/PageProofs/haml/partials/"

%h1 Оперативный и финансовый лизинг для юридических лиц
.redline
.jcarousel-wrapper
  .jcarousel
    %ul
      %li
        %img{:src => "/images/slides/slide1.png", :alt => "Slide1", :width => "960", :height => "260"}
      %li
        %img{:src => "/images/slides/slide2.png", :alt => "Slide2", :width => "960", :height => "260"}
  %p.jcarousel-pagination
%h2 Мы предлагаем
.redline
.main-container
  .col6
    =Haml::Engine.new(IO.read("#{pathProject}modules/_button-curtain-red.haml")).render(Object.new,
    :image => "/images/main/operational.jpg", :width => "465px", :height => "120px", :h6Text => "Оперативный лизинг",
    :divText => "С 2009 года участвует в составлении рэнкинга Европейской федерации национальных ассоциаций")
  .col6
    =Haml::Engine.new(IO.read("#{pathProject}modules/_button-curtain-black.haml")).render(Object.new,
    :image => "/images/main/financical.jpg", :width => "465px", :height => "120px", :h6Text => "Финансовый лизинг",
    :divText => "")
%h2 Конкурентные преимущества
.redline
.main-container
  .col3.advantages-block
    %img{:src => "/images/main/concur1.jpg", :alt => "Slide1", :width => "230", :height => "90"}
    %p Высокий рейтинг кредитоспособности лизинговой компании
  .col3.advantages-block
    %img{:src => "/images/main/concur2.jpg", :alt => "Slide1", :width => "230", :height => "90"}
    %p Аванс от 50%
  .col3.advantages-block
    %img{:src => "/images/main/concur3.jpg", :alt => "Slide1", :width => "230", :height => "90"}
    %p Удорожание от 70%
  .col3.advantages-block
    %img{:src => "/images/main/concur4.jpg", :alt => "Slide1", :width => "230", :height => "90"}
    %p Срок от 3 месяцев
  .col3.advantages-block
    %img{:src => "/images/main/concur5.jpg", :alt => "Slide1", :width => "230", :height => "90"}
    %p Минимальный пакет документов, помощь в оформлении
  .col3.advantages-block
    %img{:src => "/images/main/concur6.jpg", :alt => "Slide1", :width => "230", :height => "90"}
    %p Оперативная работа менеджеров, быстрый ответ по заявке
  .col3.advantages-block
    %img{:src => "/images/main/concur7.jpg", :alt => "Slide1", :width => "230", :height => "90"}
    %p Отсутствие скрытых платежей
  .col3.advantages-block
    %img{:src => "/images/main/concur7.jpg", :alt => "Slide1", :width => "230", :height => "90"}
    %p 5 лет на рынке, большой список довольных клиентов и надежных партнеров
%h2 Надежные партнеры
.redline
.main-partners
  .nested-col
    %a{:href => "http://www.mitsubishi-motors.ru", :target => "_blank"}
      %img{:src => "/images/mitsubishi.jpg"}
  .nested-col
    %a{:href => "http://www.volkswagen.ru/ru.html", :target => "_blank"}
      %img{:src => "/images/wolf.jpg"}
  .nested-col
    %a{:href => "http://www.hyundai.ru", :target => "_blank"}
      %img{:src => "/images/hyundai.jpg"}
  .nested-col
    %a{:href => "http://uzdaewoo.ru", :target => "_blank"}
      %img{:src => "/images/daewoo.jpg"}
  .nested-col
    %a{:href => "http://www.honda.co.ru", :target => "_blank"}
      %img{:src => "/images/honda.jpg"}
  .nested-col
    %a{:href => "http://www.mazda.ru", :target => "_blank"}
      %img{:src => "/images/mazda.jpg"}
.line1
.main-news-article-block
  .col6
    %h3 Последние новости
    .main-news
      .news-text
        %img{:src => "http://placekitten.com/g/120/120", :alt => "Название новости"}
        %p.news-date
          13.11.2014
        %p.news-title
          Равным образом укрепление и развитие структуры представляет
        %p
          Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требуют.
          %a{:href => "#"}Читать далее
    .main-news
      %img{:src => "http://placekitten.com/g/120/120", :alt => "Название новости"}
      .news-text
        %p.news-date
          13.11.2014
        %p.news-title
          Равным образом укрепление и развитие структуры представляет
        %p
          Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требуют.
          %a{:href => "#"}Читать далее
    .main-news
      %img{:src => "http://placekitten.com/g/120/120", :alt => "Название новости"}
      .news-text
        %p.news-date
          13.11.2014
        %p.news-title
          Равным образом укрепление и развитие структуры представляет
        %p
          Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требуют.
          %a{:href => "#"}Читать далее
    %a{:href => "#", :class => "button-red"} Читать все новости
  .col6
    %h3 Последние статьи в блоге
    .main-article
      %p.article-title
        Равным образом укрепление и развитие структуры представляет собой интересный эксперимент проверки модели
        развития.
      %p
        Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требуют.
        %a{:href => "#"}Читать далее
    .main-article
      %p.article-title
        Равным образом укрепление и развитие структуры представляет
      %p
        Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требуют
        от нас анализа существенных финансовых и административных условий.
        %a{:href => "#"}Читать далее
    .main-article
      %p.article-title
        Задача организации, в особенности же укрепление.
      %p
        Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требуют
        от нас анализа существенных финансовых условий.
        %a{:href => "#"}Читать далее
    %a{:href => "#", :class => "button-red"} Читать все статьи
.line3
.main-seo-block
  %h3 Заголовок SEO текста
  %p
    Равным образом реализация намеченных плановых заданий представляет собой интересный эксперимент проверки систем
    массового участия. Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому
    кругу (специалистов) участие в формировании дальнейших направлений развития. Значимость этих проблем настолько
    очевидна, что рамки и место обучения кадров представляет собой интересный эксперимент проверки форм развития.
    Товарищи! рамки и место обучения кадров в значительной степени обуславливает создание существенных финансовых и
    административных условий.
  %p
    Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет оценить значение
    форм развития. С другой стороны дальнейшее развитие различных форм деятельности представляет собой интересный
    эксперимент проверки новых предложений. Идейные соображения высшего порядка, а также постоянное
    информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в
    формировании систем массового участия. Таким образом сложившаяся структура организации обеспечивает широкому кругу
    (специалистов) участие в формировании существенных финансовых и административных условий.
  %p
    Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности представляет собой интересный
    эксперимент проверки существенных финансовых и административных условий. Значимость этих проблем настолько очевидна,
    что сложившаяся структура организации в значительной степени обуславливает создание систем массового участия.